body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f8f8f8;
  }

.card {
    border-radius: 10px;
  }
  
  .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
  }
  
  .card-body {
    padding: 10px;
  }
  